input[type="number"] {
    max-width: 80%;
  }

  #controls {
    /* Appearance */
    background-color: "#7FB92F";
    padding: 0 10px 10px 10px;
    cursor: move;
    /* Fade out while not hovering */
    opacity: 0.55;
    zoom: 0.9;
    transition: opacity 500ms 1s;
  }
  